.inp
{
    height: 12%;
    display: flex;
    gap: 10px;
        border: 2px solid black;
        border-radius: 0px 0px 6px 6px;
    }

.input
{
    width: 97%;
    height: 100%;
    padding: 3px;
        background-color: white;
        color: black;
        resize: none;
        outline: 0;
}

.icon
{
height: 30px;
cursor: pointer;
align-self: center;
}