/* Navbar.module.css */
.navbar {
    background-color: #f8fafc;
    /* Dark Gray */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    color: #1e293b;
    width: 100%;

}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

.logo:hover {
text-shadow: 1px 2px rgb(139, 133, 133);
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}
.sign
{
      background-color: rgb(30, 41, 59);
  color: rgb(248, 250, 252);
  border: 1px solid rgb(248, 250, 252);
  padding: 5px 10px;
  border-radius: 30px; 
  cursor: pointer;
}
.link {
    text-decoration: none;
    color: #202021;
    font-size: 1.2rem;
    font-weight: 900;
    transition: color 0.3s;
}

.link:hover {
text-shadow: 2px 2px #e88e5d;
}

.menuButton {
    display: none;
    /* Hidden on desktop */
    background: none;
    border: none;
    color: white;
}

/* Mobile View */
@media (max-width: 768px) {
    .menuButton {
        display: block;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1f2937;
        padding: 1rem 0;
        text-align: center;
        gap: 1rem;
    }

    .navLinksActive {
        display: flex;
    }
}