.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background: #fff; 
}

.navinner {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
}

.navLinks {
  display: flex;
  gap: 20px;
  font-weight: bolder;
  list-style: none;
  align-items: center;
}

.navLinks:hover
{
outline: violet;
}

.mobileAuthItem {
  display: none;
}

.desktopAuth
{
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar
    {
        height: max-content;
    }
  .menuButton {
    display: block;
  }

  .desktopAuth {
    display: none; 
  }

  .navLinks {
    display: none; 
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #fff;
    padding: 20px;
  }

  .navLinksActive {
    display: flex; 
    z-index: 9;
  }

  .mobileAuthItem {
    display: block; 
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .menuButton {
    display: none;
  }
}
