.heading
{
    background-color: aqua;
    color: black;
    display: flex;
    border: 2px solid black;
    align-items: center;
    font-style: italic;
    justify-content: center;
    font-size: 180%;
    height: 8%;
border-radius: 7.5px 7.5px 0px 0px;
}