.chat
{
    height: 80%;
    border: 2px solid black;
     border-top: 0px;
overflow: scroll;

     padding: 18px;
    background-color:white;
    color: black;
}

.chat::-webkit-scrollbar
{
    display: none;
}