
.replyinner
{
                width: 90%;
            margin: auto;
            background-color: white;
            height: 100%;
               display: flex;
    flex-direction: column ;
    justify-content: space-between;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: scroll;
}

.replyinner::-webkit-scrollbar
{
    display: none;
}