.heading
{
    background-color: aqua;
    color: black;
    display: flex;
    border: 2px solid black;
   
    font-style: italic;
    justify-content: center;
    gap: 10px;
    font-size: 189%;
    height: 8%;
border-radius: 7.5px 7.5px 0px 0px;

}
.icon
{
    align-self: center;
    border-radius: 50px;
}