.grod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    column-gap: 5.9rem;
    row-gap: 3vw;
}
.sign
{
       background-color: rgb(80, 89, 105);
  color: rgb(248, 250, 252);
  border: 1px solid rgb(248, 250, 252);
  padding: 5px 10px;
  border-radius: 30px; 
  cursor: pointer;
  margin-top: 7px;
}
@media (max-width:500px) {
    .grod
    {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    overflow: scroll;
    }
    
}
@media (max-width:1100px) {
    .grod
    {
        column-gap: 2.2rem;
            padding: 20px;
    }
    
}
