/* Navbar.module.css */
.navbar {
    background-color: #9cdd71;
    /* Dark Gray */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    color: rgb(0, 0, 0);
    width: 100%;

}

.logo {
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

.logo:hover {
    color: white;
    /* Indigo */
}

.navLinks {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: #202021;
    font-size: 1.2rem;
    font-weight: 900;
    transition: color 0.3s;
}

.link:hover {
    color: white;
}

.menuButton {
    display: none;
    /* Hidden on desktop */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
    .menuButton {
        display: block;
    }

    .navLinks {
        display: none;
        /* Hide standard links on mobile */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1f2937;
        padding: 1rem 0;
        text-align: center;
        gap: 1rem;
    }

    .navLinksActive {
        display: flex;
        /* Show when toggled */
    }
}